<div class="mainHeader">

    <div class="headerRightContainer">

        <div class="logoLink" ui-sref= 'home'>

            <div class="letters">
                <div id="T">T</div>
                <div id="E">E</div>
            </div>

        </div>

    </div>

    <div class="headerLeftContainer">

        <div class="headerUpperLeft">
            <div class="appleLink" ui-sref= "apple">Apple</div>
            <div class="laptopsLink" ui-sref= "laptops">Laptops</div>
            <div class="xboxLink" ui-sref= "xbox">Xbox One</div>
            <div class="playstationLink" ui-sref= "playstation">Play Station</div>
        </div>

        <div class="headerMidBorder"></div>

        <div class="headerLowerLeft">
            <input class="headerInput" ng-model="productFinder" placeholder="search games, consoles, prducts">
            <div class="headerSearchContainer"><img class= "search" src="./assets/img/quicksearch.png" alt="" /></div>



            <div class="userHeaderWrapper">
                <div class="userHeaderSection">

                    <div class="userLogin">
                        <div class= "login" ui-sref="login"> Login </div>


                        <div class="createLogin" ui-sref= "createlogin"> Create Login </div>
                    </div>

                    <div class="cartSection"ui-sref="cart"> <img class="cart" src="./assets/img/Cart.png" alt="" /></div>

                </div>
            </div>

        </div>

    </div>
