<div class="mainBodyWrapper">
    <div class="saleSectionContainer">
        <div class="saleWrapper">
            <div class="saleSection">
                <div id="fifty">50</div>
                <div id="anniversary">Anniversary</div>
                <div id="sale">Sale</div>
            </div>
            <div class="imgSection">
                <div class="imgSectionTop">
                    <div class="whiteImg">
                        <img src="./assets/img/computers.png">
                    </div>
                    <div class="whiteImg">
                        <img src="./assets/img/games.png">
                    </div>
                    <div class="whiteImg">
                        <img src="./assets/img/movies.png">
                    </div>
                </div>
                <div class="imgSectionMid">
                    <div class="whiteImg">
                        <img src="./assets/img/mp3.png">
                    </div>
                    <div class="whiteImg">
                        <img src="./assets/img/tablets.png">
                    </div>
                    <div class="whiteImg">
                        <img src="./assets/img/tvs.png">
                    </div>
                </div>
                <div class="imgSectionBottom">
                    <div class="whiteImg">
                        <img src="./assets/img/wearables.png">
                    </div>
                    <div class="whiteImg">
                        <img src="./assets/img/dslr.png">
                    </div>
                    <div class="whiteImg">
                        <img src="./assets/img/headphones.png">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="midSection">
        <div id="midText">
            Any purchase of $100.00 or more Qualifies for free shipping.
        </div>

    </div>
    <div class="lowerSection">
      <div class="iwatchHome">
          <img src="./assets/img/iwatchhome.jpg">
      </div>
      <div class="hpHome">
          <img src="./assets/img/hphome.jpg">
      </div>
      <div class="macbookHome">
         <img src="./assets/img/macbookhome.jpg">
      </div>
      <div class="xboxHome">
         <img src="./assets/img/xboxonehome.jpg">
      </div>
      <div class="playstationHome">
         <img src="./assets/img/playstationhome.jpeg">
      </div>
    </div>
</div>
