.loginContainer{
  height: 75vh;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rightSideLoginWrapper{
  background: linear-gradient(#eeeeee, #ffffff);
  height: 250px;
  width: 400px;
  margin-right: 50px;
  border-bottom: solid 1px #DEDFDF;
}

#signIn {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-size: 24px;
  font-family: sans-serif;
  border-bottom: 2px black solid;
  color: #424242;
}

.signInWrapper {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userNameBox {
  margin-left: 70px;
  width:90%;
  font-size: 18px;
  margin-bottom: 20px;
}

.userNameInput {
  height: 20px;
  width: 80%;
}

.passwordBox {
  margin-left: 70px;
  width:90%;
  font-size: 18px;
}

.passwordInput {
  height: 20px;
  width: 80%;
}

.signInButton {
  background: linear-gradient(#da3333, #781616);
  margin-top: 10px;
  margin-left: 200px;
  padding: 0;
  height: 26pt;
  width: 60pt;
  cursor: pointer;
  color: #FFF;
  border-radius: 10px;
  font: bold 10pt/24pt sans-serif;
}

.leftSideLoginWrapper {
  height: 250px;
  width: 400px;
  margin-left: 50px;
}

.noAccount {
  font-size: 30px;
  color: #707070;
}

.createAccountLinkButton {
  background: linear-gradient(#da3333, #781616);
  margin-top: 50px;
  margin-left: 20px;
  padding: 0;
  height: 26pt;
  width: 200pt;
  cursor: pointer;
  color: #FFF;
  border-radius: 10px;
  font: bold 10pt/24pt sans-serif;
}
